body {
    margin: 0;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F7FB;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #DBDEF0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 10px;
    text-align: left;
    font-size: 1.2rem;
}

form input, form select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9a9a9a;
    font-size: 1.1rem;
}

.answers_container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.landing-page {
    height: 100vh;
}

.quiz-page {
    align-items: initial;
}

.landing-page h1 {
    margin-bottom: 0;
}

.answer {
    border-radius: 15px;
    padding: 15px;
    flex: 1;
    border: 1px solid #4D5B9E;
    cursor: pointer;
}

button {
    width: 15%;
    height: 40px;
    min-width: 160px;
    font-family: Inter, sans-serif;
    border: none;
    color: white;
    align-self: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4D5B9E;
    border-radius: 8px;
    font-size: 1.1rem;
}

footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 850px) {
    .answers_container {
        flex-direction: column;
        align-self: center;
        width: 90%;
    }

    .answer {
        width: 100%;
    }
}