body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  width: 130px;
  height: 40px;
  font-family: Inter, sans-serif;
  border: none;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #4D5B9E;
  border-radius: 8px;
  font-size: 1.1rem;
}
