section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-bottom: 1px solid #DBDEF0;
    
}

.questions_container {
    display: flex;
    height: 80px; 
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.question {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}

h1 {
    margin-bottom: -5px;
}